.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  padding: 50px;
  box-shadow: 0px 0px 10px -2px black;
}

button {
  padding: 5px;
  width: 50%;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

input {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(119, 116, 116);
  margin-left: 20px;
  border: 1px solid black;
}

select{
    margin-left: 20px; 
    padding: 5px;
}


