.book{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px -2px black;
    margin-top: 50px;
}

.textContainer{
    padding: 2px 20px 20px 20px;
}

.text{
    text-align: start;
    font-size: 16px;
}

.edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}