.containerLists{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 40px;
}

.list{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.textStatus{
    font-size: 20px;
    text-align: center;
    margin-bottom: -15px;
}

.card{
    list-style: none;
    text-align: start;
}